body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box{
    display: flex;
}

.kiri{
    width: 300px;
    height: 100vh;
    background-color: blue;
    color: white;
}

.profile{
    text-align: center;
    border-bottom: 1px solid;
}



.foto{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 100px;
}

.kiri ul, .kiri a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin-right: 25px;
    color: white;
}

.kiri ul li {
    margin-top: 20px;
    font-size: 20px;
}

.kanan{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.box-1{
    width: 95%;
    height: 50px;
    border: 1px solid black;
    box-shadow: 2px 3px 10px black;
    margin: auto;
    margin-top: 20px;
}

.box-2{
    width: 95%;
    height: 800px;
    border: 1px solid black;
    box-shadow: 2px 3px 10px black;
    margin: auto;
    margin-top: 100px;
}

.box-2-1{
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: -20px;
}

.box-2-1 h2{
    margin-top: 30px;
    padding:  0 10px;
}

.tombol{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.tombol button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

.box-2-2{
    width: 96%;
    height: 650px;
    border: 1px solid black;
    background-color: lightgray;
    margin: auto;
}

.tampilan-2{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-right: 335px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.tabel-1{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
}

nav{
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 80px;
    background-color: lightgray;
    padding: 5px 40px;
}

nav .box-profile{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: red;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color: red;
}


.lapor h2{
    padding: 0 40px;
    font-size: 32px;
}

.box-lapor{
    display: flex;
    margin: auto;
    width: 95%;
    height: 900px;
    border: 1px solid black;
    background-color: lightgray;
    font-size: 23px;
}

.text{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;align-items: baseline;
    padding: 42px 0;
}

.text label{
    margin-left: 50px;
}

.input{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
}

.input input{
    width: 90%;
    height: 30px;
    margin-bottom: 34px;
}

.input #lapor{
    width: 90%;
}